@import url('https://fonts.loli.net/css2?family=Source+Sans+Pro:wght@400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
